.circle_icon{margin:0 auto;width:100px;height:100px;border-radius:50px;background-color:white}
.rounded{height:100px;padding:20px;width:100px}
.feature{padding-top:15px;padding-bottom:15px}
section:not(#carousel),footer{padding-bottom:1em;padding-top:1em}
.card_img_container{background-size:cover;width:100%;height:200px;background-position:center center;background-repeat:no-repeat;overflow:hidden}
.circle_card{padding:1em 6em}